<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maze Solver</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <div class="page-header">
        <h1>Maze solver</h1>
        <p class="lead">Simple maze solver that solves mazes generate from <a href="http://www.hereandabove.com/maze/mazeorig.form.html" target="_blank">Maze Maker</a> created by <a href="mailto:jlauro@umich.edu">John Lauro</a></p>
    </div>

    <div class="row">
        <div class="col-md-4 list-group-container">
            {{template "list-group"}}
        </div>
        <div class="col-md-8 images">
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="MazeModal" tabindex="-1" role="dialog" aria-labelledby="MazeModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="MazeModalLabel">New Maze</h4>
                </div>
                <div class="modal-body">

                    <form method="post" id="new-maze">
                        <div class="row">
                            <div class="col-md-8">
                                <h3>Dimensions</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label for="height">Height</label>
                                <input type="number" class="form-control" id="height" placeholder="Height" required name="height" min="1" max="100">
                            </div>
                            <div class="form-group col-md-3">
                                <label for="width">Width</label>
                                <input type="number" class="form-control" id="width" placeholder="Width" required name="width" min="1" max="100">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="ratio">Pixel ratio</label>
                                <input type="number" class="form-control" id="ratio" placeholder="Pixel ratio" required value="1" name="ratio" min="1" max="10">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h3>Border color</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="br">red</label>
                                <input type="number" class="form-control" id="br" placeholder="red" required value="0" name="br">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="bg">green</label>
                                <input type="number" class="form-control" id="bg" placeholder="green" required value="0" name="bg">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="bb">blue</label>
                                <input type="number" class="form-control" id="bb" placeholder="blue" required value="0" name="bb">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <h3>Path color</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-2">
                                <label for="pr">red</label>
                                <input type="number" class="form-control" id="pr" placeholder="red" required value="255" name="pr">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="pg">green</label>
                                <input type="number" class="form-control" id="pg" placeholder="green" required value="255" name="pg">
                            </div>
                            <div class="form-group col-md-2">
                                <label for="pb">blue</label>
                                <input type="number" class="form-control" id="pb" placeholder="blue" required value="255" name="pb">
                            </div>
                        </div>
                    </form>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" >Save changes</button>
                </div>
            </div>
        </div>
    </div>

</div>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
<script type="text/javascript">
    (function($){
        $.fn.updateStatus = function(connected) {
            if (connected) {
                if ($(this).hasClass("has-error")) {
                    $(this).removeClass("has-error");
                }
                if (false === $(this).hasClass("has-success")) {
                    $(this).addClass("has-success");
                }
                if ($(this).find("a span.glyphicon").hasClass("glyphicon-question-sign")) {
                    $(this).find("a span.glyphicon").removeClass("glyphicon-question-sign");
                }
                if ($(this).find("a span.glyphicon").hasClass("glyphicon-remove")) {
                    $(this).find("a span.glyphicon").removeClass("glyphicon-remove");
                }
                if (false === $(this).find("a span.glyphicon").hasClass("glyphicon-ok")) {
                    $(this).find("a span.glyphicon").addClass("glyphicon-ok");
                }
                $(this).find("a#list-group-modal").attr("data-toggle", "modal");
            } else {
                if ($(this).hasClass("has-success")) {
                    $(this).removeClass("has-success");
                }
                if (false === $(this).hasClass("has-error")) {
                    $(this).addClass("has-error");
                }
                if ($(this).find("a span.glyphicon").hasClass("glyphicon-success")) {
                    $(this).find("a span.glyphicon").removeClass("glyphicon-success");
                }
                if ($(this).find("a span.glyphicon").hasClass("glyphicon-question-sign")) {
                    $(this).find("a span.glyphicon").removeClass("glyphicon-question-sign");
                }
                if (false === $(this).find("a span.glyphicon").hasClass("glyphicon-remove")) {
                    $(this).find("a span.glyphicon").addClass("glyphicon-remove");
                }
                $(this).find("a#list-group-modal").attr("data-toggle", "");
            }
            return this;
        };
    })(jQuery);

    $(document).ready(function() {
        function ImageContainer(id, canvas){
            this.id = id;
            this.canvas = canvas;
            this.$template = $("<div class='image-container'><div class='row'></div><div class='row'></div></div>");
        }

        ImageContainer.prototype.appendTo = function(e){
            this.$template.attr("id", "image" + this.id);
            this.$template.find(".row:eq(0)").append($('<a >', {
                text: "Solve ",
                href: "#",
                style: "padding-left:10px",
                class: "btn btn-default btn-sm solve",
                'data-play': this.id
            }).append($('<span />', {
                class: 'glyphicon glyphicon-play',
                'aria-hidden': true
            })));
            this.$template.find(".row:eq(0)").append($('<a >', {
                text: "Reset ",
                href: "#",
                style: "padding-left:10px",
                "data-id": this.id,
                class: "btn btn-default btn-sm reset",
                'data-play': this.id
            }).append($('<span />', {
                class: 'glyphicon glyphicon-refresh',
                'aria-hidden': true
            })));
            this.$template.find(".row:eq(1)").append($('<div>', { class: "row"})).append(this.canvas);
            e.append(this.$template)
        };

        function MazeConfig(height, width, ratio){
            this.height = height;
            this.width  = width;
            this.ratio  = ratio;
            this.wall   = { r: 0,   g: 0,   b: 0};
            this.path   = { r: 255, g: 255, b: 255};
        }

        MazeConfig.prototype.fromForm = function(form){
            this.height = form.find('input#height').val();
            this.width  = form.find('input#width').val();
            this.ratio  = form.find('input#ratio').val();
            this.wall   = { r: form.find('input#br').val(), g: form.find('input#bg').val(), b : form.find('input#bb').val() };
            this.path   = { r: form.find('input#pr').val(), g: form.find('input#pg').val(), b : form.find('input#pb').val() };
            return this;
        };

        MazeConfig.prototype.serialize = function(){
            var view   = new DataView(new ArrayBuffer(13));
            view.setInt8(0, 1);
            view.setInt16(1, this.height);
            view.setInt16(3, this.width);
            view.setInt16(5, this.ratio);
            view.setInt8(7, this.wall.r);
            view.setInt8(8, this.wall.g);
            view.setInt8(9, this.wall.b);
            view.setInt8(10, this.path.r);
            view.setInt8(11, this.path.g);
            view.setInt8(12, this.path.b);
            return view
        };

        MazeConfig.prototype.unserialize = function(view, offset){
            offset = offset || 0;
            this.ratio = view.getUint16(0 + offset);
            this.height = view.getUint16(2 + offset);
            this.width = view.getUint16(4 + offset);
            this.wall = {r:view.getUint8(6 + offset), g:view.getUint8(7 + offset),    b:view.getUint8(8 + offset)};
            this.path = {r:view.getUint8(9 + offset), g:view.getUint8(10 + offset),   b:view.getUint8(11 + offset)};
            return view
        };

        var images = (function(){
            var id = 'div.row div.images div.image-container';
            return {
                has: function(i){
                    return  $(id + "#image" + i).length
                },
                clear: function(){
                    $(id).hide()
                },
                show: function(i) {
                    images.clear();
                    $(id + "#image" + i).show()
                }
            }
        })(),
        menu = (function(){
            var id = 'a.list-group-item.show-image';
            return {
                clear: function(){
                    $(id).removeClass("active");
                },
                show: function(i) {
                    $(id + "#" + i).addClass("active");
                },
                click: function(i){
                    menu.clear();
                    menu.show(i);
                }
            }
        })(),
        form = (function(){
            var id = $('form#new-maze'), data = new MazeConfig();

            return {
                clear : function() {
                    id.trigger("reset");
                },
                submit: function() {
                    if (connection.isConnected()) {
                        connection.send(data.fromForm(id).serialize());
                        form.clear();
                    }
                }
            }
        })(),
        connection = (function(){
            var ws, connected = false, connect, reader = new FileReader(), view, id, bytes, canvas, ctx;
            reader.addEventListener("loadend", function() {
                switch (new Uint8Array(reader.result, 0, 1)[0]) {
                    case 1:
                        var element = $(String.fromCharCode.apply(null, new Uint8Array(reader.result, 1))).updateStatus(connection.isConnected());
                        $("div.list-group").replaceWith(element);
                        break;
                    case 2:
                        view = new DataView(reader.result, 1, 16);
                        id = view.getUint32(0);

                        var data = new MazeConfig();
                        data.unserialize(view, 4);

                        canvas = document.getElementById('c' + id);

                        if (canvas === null) {
                            canvas = document.createElement('canvas');
                        }

                        canvas.id     = 'c' + id;
                        canvas.width  = data.width;
                        canvas.height = data.height;

                        ctx = canvas.getContext('2d');
                        ctx.fillStyle = 'rgb('+ data.path.r +','+ data.path.g +','+ data.path.b +')';
                        ctx.fillRect(0,0,data.height,data.width);
                        ctx.save();

                        bytes = new DataView(reader.result, 17);

                        for (var i = 0; i < bytes.byteLength/2; i += 2) {
                            ctx.fillStyle = 'rgb('+ data.wall.r +','+ data.wall.g +','+ data.wall.b +')';
                            ctx.fillRect(bytes.getUint16(i*2), bytes.getUint16(i*2+2),  data.ratio,  data.ratio);
                        }

                        ctx.save();

                        var container = new ImageContainer(id, canvas);
                        container.appendTo($('div.images'));

                        menu.click(id);
                        images.show(id);
                        break;
                    case 3:
                        view = new DataView(reader.result, 1, 7);
                        id = view.getUint32(0);
                        var ratio = view.getUint16(4), c;
                        canvas = document.getElementById('c' + id);
                        ctx = canvas.getContext('2d');
                        bytes = new DataView(reader.result, 7);
                        i = 0;
                        c = 0;
                        requestAnimationFrame(function draw(){
                            if (i < bytes.byteLength) {
                                ctx.fillStyle = 'rgb(190,190,190)';
                                ctx.fillRect(bytes.getUint16(i), bytes.getUint16(i+2),  ratio,  ratio);
                                ctx.save();
                                i += 5;
                                requestAnimationFrame(draw)
                            }
                            else {
                                if (c <= bytes.byteLength) {

                                    try{
                                        do {
                                            c += 5;
                                        } while(bytes.getUint8(c + 4) === 0);

                                        ctx.fillStyle = 'rgb(255,0,0)';
                                        ctx.fillRect(bytes.getUint16(c), bytes.getUint16(c+2),  ratio,  ratio);
                                        ctx.save();
                                        requestAnimationFrame(draw)
                                    } catch (e) {}
                                }
                            }
                        });
                        break;

                }

            });
            connect = function() {
                try {
                    ws = new WebSocket("ws://" + window.location.hostname + ":" + window.location.port + "/ws");
                    ws.onclose = function() {
                        connected = false
                    };
                    ws.onopen = function() {
                        connected = true;
                        var data = new Uint8Array(1);
                        data[0] = 2;
                        ws.send(data);
                    };
                    ws.onmessage = function(e) {
                        reader.readAsArrayBuffer(e.data);
                    };
                } catch (e) {
                    connected = false
                }
            };
            connect();
            return {
                isConnected: function() {
                    return connected
                },
                send: function(e) {
                    ws.send(e)
                },
                reConnect: function() {
                    if (false === connection.isConnected()) {
                        connect();
                    }
                }
            }
        })()
        ;

        $('div.list-group').updateStatus(connection.isConnected());

        $('div.modal-footer button.btn.btn-primary').on('click', function(e){
            e.preventDefault();
            form.submit();
            $('#MazeModal').modal('hide');
        });

        $(document).on("click", "a.solve", function(e) {
            e.preventDefault();
            var id = $(this).attr('data-play');
            var view = new DataView(new ArrayBuffer(5));
            view.setInt8(0, 4);
            view.setUint32(1, id);
            connection.send(view);
        });
        $(document).on("click", "a.reset", function(e) {
            var id = $(this).attr('data-id'),
                view = new DataView(new ArrayBuffer(5)),
                $ic = $("#image" + id);

            $ic.remove();
            view.setInt8(0, 3);
            view.setUint32(1, id);
            connection.send(view);
        });
        $(document).on("click", "a.list-group-item.show-image", function(e) {
            e.preventDefault();
            var id = $(this).attr('id');
            menu.click(id);

            if (images.has(id)){
                images.show(id)
            } else {
                var view = new DataView(new ArrayBuffer(5));
                view.setInt8(0, 3);
                view.setUint32(1, id);
                connection.send(view);
            }
        });
    })
</script>
</body>
</html>